// Iphone 5 media queries - aspect ratio 40:71
// * Note that the iPhone 5 does not have a 16:9 aspect ratio. It is in fact 40:71.
@media screen and (device-aspect-ratio: 40/71) {

    // Logo
    .logo-wrap {
        flex-direction: row;
        // padding: 0px !important;
        .logo-img {
            width: 50%;
        }
        .links-wrap {
            width: 50%;
        }
    }


    // Main icon
    .mainWidget-wrap {
        .container {
            img {
                max-width: 115px;
                margin-top: -20px;
            }

            .title {
                font-size: 75px;
            }

            .subtitle {
                font-size: 25px;
            }
        }
    }

    // forecast icons
    .forecast-panel .forecast--info {
        min-height: 240px;

        .level.is-mobile .level-item:not(:last-child) {
            margin-right: 0px;
        }

        .is-foreCast {
            img {
                max-width: 50px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
// The app will be displayed on the broswer
// The screen size is 375px - 667px
// Adjust elements keeping in mind the following:
// -- The browser window 375px - 559px
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

    // Logo + Links
    .logo-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo-img {
            width: 20%;
            border: none;
            margin: 0px;
        }
        .links-wrap {
            width: 100%;
            justify-content: flex-end;
            margin: 0px;
        }
    }



    // Main icon
    .mainWidget-wrap {
        .container {
            img {
                max-width: 115px;
                margin-top: -20px;
            }

            .title {
                font-size: 75px;
            }

            .subtitle {
                font-size: 25px;
            }
        }
    }

    // forecast icons
    .forecast-panel .forecast--info {
        min-height: 240px;

        .level.is-mobile .level-item:not(:last-child) {
            margin-right: 0px;
        }

        .is-foreCast {
            img {
                max-width: 50px;
            }

            p {
                font-size: 20px;
            }
        }
    }

}

/* ----------- iPhone 10 ----------- */
@media only screen and (device-width: 375px) and (device-height : 812px) {

    // Logo + Links
    .logo-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .logo-img {
            width: 20%;
            border: none;
            margin: 0px;
        }
        .links-wrap {
            width: 100%;
            justify-content: flex-end;
            margin: 0px;
        }
    }


    // Main icon
    .mainWidget-wrap {
        .container {
            img {
                max-width: 135px;
                margin-top: 0px;
            }

            .title {
                font-size: 100px;
                margin-top: -30px;
            }

            .subtitle {
                font-size: 32px;
            }
        }
    }

    // forecast icons
    .forecast-panel .forecast--info {
        min-height: 290px;
    }
}


/* ----------- iPhone 11 ----------- */
@media only screen and (device-width: 414px) and (max-device-width: 719px) {

    // Logo + Links
    .logo-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        .logo-img {
            width: 20%;
            border: none;
            margin: 0px;
        }
        .links-wrap {
            width: 100%;
            justify-content: flex-end;
            margin: 0px;
        }
    }


    .mainWidget-wrap {
        .container {
            img {
                max-width: 135px;
                margin-top: 0px;
            }

            .title {
                font-size: 75px;
                margin-top: 0px;
            }

            .subtitle {
                font-size: 32px;
            }
        }
    }


    // forecast icons
    .forecast-panel .forecast--info {
        min-height: 200px;

        .level.is-mobile .level-item:not(:last-child) {
            margin-right: 0px;
        }

        .is-foreCast {
            img {
                max-width: 75px;
            }

            p {
                font-size: 24px;
            }
        }
    }
}

/* ----------- One plus 6 browser size ----------- */
@media only screen and (device-width: 455px) and (max-device-width: 823px) {
    // Logo + Links
    .logo-wrap {
        display: flex !Important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        .logo-img {
            width: 25%;
            border: none;
            margin: 0px;
        }
        .links-wrap {
            width: 100%;
            justify-content: flex-end;
            margin: 0px;
            .button {
                width: 25px;
                height: 25px;
            }
        }
    }

    .mainWidget-wrap {
        .container {
            img {
                max-width: 135px;
                margin-top: 0px;
            }

            .title {
                font-size: 100px;
                margin-top: 0px;
            }

            .subtitle {
                font-size: 32px;
            }
        }
    }

    // forecast icons
    .forecast-panel .forecast--info {
        min-height: 310px;

        .level.is-mobile .level-item:not(:last-child) {
            margin-right: 10px;
        }

        .is-foreCast {
            img {
                max-width: 100px;
            }

            p {
                font-size: 24px;
            }
        }
    }

}